*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: lavenderblush;
    margin: auto;
}

fieldset{
    background-color: indianred ;
    margin: 15px;
    border-radius:10 px;
    border-style:ridge;
}

legend{
    font-size: 1.2em;
}

input, textarea{
    border-radius: 5px;
    border-width: 1px;
    border-color: darkslateblue;
}
input:focus, textarea:focus{
    background-color: lightpink;
}

textarea{
    height:100px;
    width: 100%;
}
    
label{
    display: flex;
    margin:5px;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container{
    display:flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}

.fieldset-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
    /* justify-content: space-around;
    align-items: flex-start; */
}

.input-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    /* margin:10px; */
    align-items: flex-start;
}
